.deck-footer {
  position: absolute;
  bottom: 10px;
  left: 5px;
  color: #888;
  z-index: 3;
  margin: 0;
}

body > .deck-container .deck-footer {
  position: fixed;
}

@media print {
  .deck-footer {
    display: none;
  }
}
